@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Orbitron", sans-serif;
  background-color: #F1F3FF;
}
nav{
  z-index: 100;
}
.custom-clip-path {
  clip-path: polygon(15% 0, 80% 0%, 100% 0, 100% 67%, 88% 100%, 0 100%, 0% 80%, 0 43%);
}

.pic {
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
}

.c1 {
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
  z-index: 5;
}
.img_sli{
  transform: translateX(5rem);
}
.c2 {
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
  transform: translate(-3rem, 3rem);
}
.awssld__wrapper{
  height: 60vh !important;
  margin-top: 8%;
  
}
.awssld__bullets button:not(.awssld__bullets--active) {
  border-radius: 0.1rem !important;
  background-color: #B2B3DE !important;
}
.awssld__bullets--active{
  border-radius: 0.1rem !important;
  background-color: #373559 !important;
}
.awssld__content{
  background: transparent !important;
  /* overflow: hidden; */
  /* overflow: hidden;padding-top: 8rem; */
}
.awssld__box{
  height: 80% !important;
}
.awssld__content div{
  /* border: red solid; */
  height: 95%;
  /* padding-top: 4rem; */
}
.clipk,.clipk_sub{
  clip-path: polygon(0 0, 80% 0%, 100% 0, 100% 66%, 88% 100%, 0 100%, 0% 80%, 0% 20%);
}
.catagory{
  clip-path: polygon(12% 0, 80% 0%, 100% 0, 100% 66%, 100% 100%, 0 100%, 0% 80%, 0 37%);
}
.awssld__timer {
  --timer-background-color: rgba(0, 0, 0, 0) !important;
}

.titpo{
  clip-path: polygon(0 0, 93% 0, 100% 24%, 100% 80%, 100% 100%, 7% 100%, 0 79%, 0% 20%);
}
.popoulart{
  clip-path: polygon(0 0, 93% 0, 100% 0, 100% 82%, 86% 100%, 0 100%, 0 79%, 0% 20%);
}
.magiccut{
  clip-path: polygon(0 0, 93% 0, 100% 0, 100% 82%, 100% 100%, 10% 100%, 0 72%, 0% 20%);
}